/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
}

/* Body styling */
body {
  font-family: sans-serif;
  background-color: #f1efed; /* Light Background Color */
  color: #090605; /* Main Font Color */
}

/* Container styling */
.container {
  margin: 0 auto;
  padding: 5%;
}

/* Section styling */
section {
  margin-bottom: 2%;
  /* background-color: #ffffff; */
}

/* Tag styling */
.image {
  position: relative; /* Required for absolute positioning */
  grid-area: image;
  justify-self: stretch;
  /* overflow: scroll; */
  max-height: 100%;
  max-width: 100%;
  text-align: center; /* Center the button horizontally */
}
.tag {
  position: absolute;
  top: 3%;
  left: 5%;
  padding: 1% 2%;
  background-color: #b56a30;
  color: #fff;
  border-radius: 3px;
  z-index: 1; /* Ensures the tag appears above the image */
  opacity: 75%;
}
.image img {
  max-width: 100%;
  max-height: 100%;
  /* overflow: scroll; */
}

/* Form styling */
form {
  background-color: #ffffff;
  padding: 5%;
  /* border-radius: 5px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

fieldset {
  border: none;
}

legend {
  font-weight: bold;
  margin-bottom: 1%;
  font-size: 1.2em;
}

/* Quantity container styling */
.quantity-container {
  margin-bottom: 3%;
}

.quantity-container label {
  display: block;
  margin-bottom: 1%;
}

.quantity {
  width: 100%;
  padding: 1.5%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Shipping address styling */
fieldset:last-of-type {
  margin-top: 3%;
}

select,
input[type="text"] {
  width: 100%;
  margin-bottom: 1%;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Confirm button container styling */
.confirm-btn-container {
  text-align: center;
}

.submit-btn,
.purchase-btn {
  padding: 1% 0;
  width: 100%;
  background-color: #b56a30;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.purchase-btn {
  padding: 1% 30%;
  justify-self: stretch;
}
.submit-btn:hover {
  background-color: #8f4c1e;
}
.purchase-btn:hover {
  background-color: #8f4c1e;
}

.details-expand {
  display: none; /* Initially hide the content */
}

.details-expand.show {
  display: block; /* Show the content when toggled */
}

.details-expand,
.form-expand {
  display: none; /* Initially hide the details */
}

.details-expand.active {
  display: block; /* Show the details when active */
}
.form-expand.activef {
  display: block;
}
.expand-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.detail-item-expand {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 2%;
  border-bottom: 1px solid;
  border-top: 1px solid;
}
.detail-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #ece8e5; */
  padding: 2%;
}

.side-details {
  grid-area: side-details;
  /* background-color: #ffffff; */
  padding: 5%;
}

.details {
  display: grid;

  align-items: top;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "image side-details";
}
/* Responsive adjustments */
@media screen and (min-width: 40rem) {
  .container {
    display: grid;
    padding: 0% 10% 0% 10%;
  }
}
