/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f1efed; /* Light Background Color */
  color: #090605; /* Main Font Color */
}

/* Container styling */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Section styling */
section {
  margin-bottom: 30px;
}

/* Tag styling */
.image {
  position: relative; /* Required for absolute positioning */
}

.tag {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  padding: 5px 10px;
  background-color: #b56a30; /* Brownish-Orange */
  color: #fff;
  border-radius: 3px;
  z-index: 1; /* Ensures the tag appears above the image */
}
.image img {
  max-width: 100%;
  height: auto;
}

/* Side details styling */
.side-details p {
  margin-bottom: 10px;
  color: #98968a; /* Secondary Font Color */
}

/* Form styling */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: none;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2em;
}

/* Quantity container styling */
.quantity-container {
  margin-bottom: 20px;
}

.quantity-container label {
  display: block;
  margin-bottom: 5px;
}

.quantity {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Shipping address styling */
fieldset:last-of-type {
  margin-top: 20px;
}

select,
input[type="text"] {
  width: calc(50% - 10px);
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Confirm button container styling */
.confirm-btn-container {
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #b56a30; /* Brownish-Orange */
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8f4c1e; /* Darker shade of Brownish-Orange */
}

/* Footer styling */
.footer {
  margin-top: 50px;
  text-align: center;
  color: #98968a; /* Secondary Font Color */
}

.footer p {
  margin-top: 10px;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  input[type="text"],
  select {
    width: 100%;
  }
}
