.sellingInfo{
    display: none;
}
.soldInfo{

    display: none;
}
#btn-add{
    display: none;
    padding: 1rem;
    background-color: #B56A30;
    color: #F1EFED;
    border: none;
}
#btn-add:hover{
    background-color: #090605;
}

.quantity { 
    p {
        text-align: start;
    }
}